:root {
    --primaryDark: #444545;
    --primary: #b7adcf;
    --primaryLight: #f4f4ed;
    --accent: #b5ffe9;
    --text: #c5e0d8;
    --header: var(--primary);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--primaryDark);
    font-family: 'Lato', sans-serif;


}

.side-bar {
    height: 100%;
    width: 30%;
    float: right;
    display: inline-block;
    background-color: var(--primaryDark);
}

.side-bar > h1, h2 {
    color: var(--header);
    text-align: center;
    margin-top: 0px;
}

.side-bar > .steps {
    color: var(--text);
    height: 70%;
    width: 90%;
    margin: auto;
    padding: 2%;
    overflow-y: scroll;
    position: relative;
}

.side-bar > #toggles {
    color: var(--text);
    text-align: center;
}
.side-bar > #steps-loading {
    color: var(--text);
    margin: auto;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 85%;
    transform: translateX(-50%);
    margin-right: -50%;
}

#map {
    height: 100%;
    width: 70%;
    display: inline-block;
    border: 2px var(--primaryDark) solid;
}

.side-bar > #time-distance {
    text-align: center;
    color: var(--accent);
    margin-top: 2%;
}