:root {

    --colorPrimaryDark: #0a0a0a;
    --colorPrimary: #9DA9CC;
    --colorAccent: #C5D3FF;
    --nav: #222222;
    --header: #DDDDDD;
    --hover: #333333;
    --texthover: #eeeeee;
    --text: #333333;
    --border: #C1C1C1;
}

body {
    background-color: var(--colorPrimaryDark);
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: var(--nav) ! important;
}

.main {
    background-image: url(../images/SrutiComputer5.PNG);
    background-size: 400px;
    background-position: center;
    position: relative;
    z-index: -1;
    opacity: 0.4;
}

.projects-page, .about-me {
    height: 100vh;
}

.resume-page {
    height: 200vh;
}

.one-view {
    height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.maintext {
    position: absolute;
    top: 5%;
    background: none ! important;
    margin: auto;
    width: 100%;
}

.projectlist {
    margin-top: 20px;

}

.proj-carousel {
    margin-top: none;
    background-color: inherit;
}

.js-apps h1, h2, h3, p {
    color: #FFFFFF;
}

.sruti-bkgrd {
    text-shadow: 2px 2px #222;
    font-family: 'Passion One', cursive;
    margin:0 ! important;
    height:145px;
    background-image: url(../images/web-bkgrd.jpg);
    background-size: auto 150px;
}

.sruti-bkgrd h1 {
    margin: auto;
}

.js-apps h4, label, a {
    color: #CCCCCC;
}

.main h1, h2, h3, p {
    color: var(--colorAccent);
}

.main h1 {
    text-transform: uppercase;
    font-size:40px;
}

.main h4, label, a {
    color: var(--header);
}
.maintext h1, h2, h3, p {
    color: var(--colorAccent);
}

.maintext h1 {
    text-transform: uppercase;
    font-size:40px;
}

.maintext h4, label, a {
    color: var(--header);
}
.mainpar a {
    color: var(--texthover);
}


.skills h3 {
    color: var(--text);
}

.skills ul {
    color: var(--text);
}

.project {
    background-color: var(--colorPrimaryDark);
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
}

.project h4 {
    color: var(--header);
}

.project a:hover {
    text-decoration: none ! important;
    color: var(--header);
}

.project:hover {
    background-color: var(--hover);
}

.description {
   background-color: var(--colorPrimaryDark);
}

.gpa-calc {
    border-color: #DDDDDD;

}

.why-i-code h2, p{
    color: var(--colorPrimaryDark);
}

.mainpar {
    color: var(--colorAccent);
}

.about-me {
    background-color: var(--colorPrimaryDark);
}

.col {
    color: var(--colorAccent) !important;
}

.main-but {
    color: var(--text);
    background-color: var(--colorAccent);
}

.projdescription {
    background-color: var(--colorPrimaryDark);
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
}

.dark {
    background-color: var(--colorPrimary);
    padding-top: 25px;
    height: 200px;
    border-style: solid;
    border-color: var(--colorPrimaryDark);
    border-width: 2px;
}

.light {
    background-color: var(--colorAccent);
    padding-top: 25px;
    height: 200px;
    border-style: solid;
    border-color: var(--colorPrimaryDark);
    border-width: 2px;
}

.proj-header {
    margin-bottom: 25px;
    border-bottom: solid var(--border) 1px;
}

.proj-img {
    padding: 20px;
    background-color: var(--nav);
    border-style: solid;
    border-color: var(--colorPrimaryDark);
    border-width: 2px;
}

.proj-text {
    padding: 20px;
    background-color: var(--nav);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--colorPrimaryDark);
    border-width: 2px;
}

.proj-text p {
   display: table-cell;
   color: var(--border);
   text-size: 15px;
}

.proj-img {
    display: block;
    height: 100%;
    vertical-align: middle;
}

.sruti-post {
    background-color: var(--colorPrimaryDark);
    padding: 20px;
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
}




