body {
    background-color: #333333
}

.main {
    background-image: url(../images/garmisch_1.jpg);
    background-position: center;
    z-index: -1;
    }

.projectlist {
    margin-top: 20px;

}

.proj-carousel {
    background-color: #333333;
}

.js-apps {
    background-image: url(../images/web-bkgrd.jpg);
}

.js-apps h1, h2, h3, p {
    color: #FFFFFF;
}

.js-apps h1 {
    text-shadow: 2px 2px #222;
    font-family: 'Passion One', cursive;


}

.js-apps h4, label, a {
    color: #CCCCCC;
}

.main h1, h2, h3, p {
    color: #FFFFFF
}

.main h1 {
    border-style: solid;
    border-width: 5px;
    border-color: #222222;
    text-transform: uppercase;
    font-size:40px;
}

.main h4, label, a {
    color: #CCCCCC;
}

.mainpar a {
    color: #CCCCCC;
}


.skills h3 {
    color: #DDDDDD;
}

.skills ul {
    color: #BBBBBB;
}

.project {
    background-color: #333333;
}

.project h4 {
    color: #DDDDDD;
    text-style: none;
}

.project:hover {
    background-color: #666666;
}

.description {
   background-color: #333333;
}

.gpa-calc {
    background-color: #666;
    margin-top:10px;
    margin-bottom:10px;
    border-style: solid;
    border-width: 5px;
    border-color: #DDDDDD;
    border-radius: 30px;
}




